@charset "utf-8";
/* CSS Document */

/*header*/
#headerholder
{
	
}
.baseHeader
{
	position: absolute;
	background-color: #232323; /* I HATE writing colour like color ): always fucks up my code because i write colour </3 #firstworldproblems */
	top: 82px;
	left: 0px;
	right: 0px;
	height: 61px;
}
#fancyHeader
{
	position: absolute;
	top: 66px;
	right: 0px;
	width: 413px;
	height: 0px;
	border-bottom: 93px solid #363636;
	border-left: 93px solid transparent;
}

#section2
{
	position: absolute;
	top: 980px;
	left: 0px;
	right: 0px;
	height: 1400px;
	background-color: #60C;
}


/*first panel*/
#jbholder
{
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	min-height: 980px;
	bottom: 0px;
	background-color: #16cbf4;
}
#snholder
{
	position: absolute;
	top: 0px;
	right: 0px;
	left: 50%;
	min-height: 980px;
	bottom: 0px;
	background-color: #f56527;
}
.floatingHeader {
	position: fixed;
    top: 0px;
	left: 0px;
	background-color: #232323;
    visibility: hidden;
}
.persistHeader {
	background-color: #232323; 
	left: 0px;
	right: 0px;
	height: 61px;
}